@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* .transitionEase {
  transition: all 5s ease;
} */

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  /* background-image: url("../retroBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */

  /* background-color: #000 !important; */
}

.small-input {
  -moz-appearance: textfield;
}

.small-input::-webkit-inner-spin-button {
  display: none;
}

.small-input::-webkit-outer-spin-button,
.small-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  border-bottom: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}
